default: &default
  ldf_server: http://localhost:3001/
  app_type: curation_concerns
  form_fields:
   -
    id: subject
    adapter: lcsh
    solr_field: subject_primary_label_ssim

development:
  <<: *default

test:
  <<: *default

production:
  <<: *default